body {
    background-color: #f1efe9;
}

.te {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.te-comments {
    margin-top: 70px;
}

.te-input {
    border: none;
    background-color: #f1efe9;
    padding: 10px;
    margin-top: 60px;
    width: 600px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.6);
}

.te-ex__jj {
    margin-top: 70px;
    width: 620px;
    height: 200px;
    border-radius: 5px;
}

.te-header {
    display: flex;
    align-items: center;
}

.te-header>a,
span {
    padding-right: 10px;
}

.te-header>span {
    font-size: 20px;
}

.own {
    margin-top: 70px;
    width: 650px;
}

.te-comments__a textarea {
    width: 529px;
    height: 43px;
}

.te-comments__a button {
    width: 50px;
    height: 50px;
}

.te-comments__a textarea,
button {
    display: inline-block;
}

.te-comments__a {
    display: flex;
    margin-top: 20px;
    margin-bottom: 30px;
}

.te-comments__j {
    width: 500px;
    height: 25px;
    border-radius: 5px;
}

.te-comments__but {
    margin-left: 30px;
    border-radius: 5px;
}

.te-comments__k {
    margin-top: 24px;
    border-bottom: 1px solid black;
}

.name {
    margin: 2px;
    border-radius: 5px;
    font-weight: 700;
}

.comment {
    line-height: 17px;
}

.date {
    color: gray;
}

.go {
    color: black;
    margin-left: 450px;
    margin-top: -10px;
}