body {
  height: 150vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

.project {
  /* position안하면 nav랑 겹침..(왤까) */
  position: relative;
  padding-top: 200px;
  margin-left: 15.5%;
  width: 100%;
}

.project__title {
  font-size: 44px;
  opacity: 0.6;
}

.project__tab-menu {
  display: flex;
  margin-top: 100px;
}

.project__tab-menu > li {
  display: block;
  width: 8%;
  padding-bottom: 13px;
  text-align: center;
  font-weight: bold;
}
.project__tab-menu > li:last-child {
  /* 걍 탭 크기 예쁘게 맞추려고 했는데 방안이 이것밖에 생각 안남.. */
  width: 22%;
  margin-top: 22px;
}
.project__tab-menu li:last-child a {
  cursor: default;
}

.project__tab-menu a {
  display: block;
  padding-bottom: 13px;
  width: 100%;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  border-bottom: 3px solid rgba(0, 0, 0, 0.6);
}
.tab:hover {
  color: white;
  border-bottom: 3px solid white;
}

.project__tab-menu li a.active {
  /* 선택된 탭 */
  border-bottom: 3px solid white;
}

.project__tab-content > div {
  /* 처음에 내용들 안보이게 */
  display: none;
}
