@import url("https://fonts.googleapis.com/css2?family=Philosopher&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@800&display=swap");

/* 스크린 */

@import "css/home/home-box.css";
@import "css/home/home-lecture.css";
@import "css/study/study.css";
@import "css/study/study-tab.css";
@import "css/study/study.css";
@import "css/study/study-card.css";

/* 컴포넌트 */

@import "css/components/header-bar.css";
@import "css/components/menu.css";
@import "css/question.css";
body {
    background-color: #f1efe9;
    font-family: "Philosopher", sans-serif;
}

ul {
    list-style-type: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline;
}

.home-wotd {
    padding-top: 60px;
    margin-bottom: 60px;
}