.send-sentence {
  position: absolute;
  top: 290px;
}

@media screen and (min-width: 600px) {
  .send-sentence {
    width: 450px;
  }
}
@media screen and (max-width: 600px) {
  .send-sentence {
    width: 75%;
  }
}

.send-sentence__content {
  border: thick double rgba(0, 0, 0, 0.3);
  background-color: white;
  padding: 30px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.7);
  line-height: 35px;
  text-align: center;
  box-shadow: 0px 7px 13px 0px rgba(0, 0, 0, 0.5);
}
.confirm-btn {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.confirm-btn__btn {
  width: 100%;
}
