.join {
  width: 30%;
}
form {
  position: absolute;
  top: 280px;
}

.join__img {
  width: 200px;
  height: 200px;
  border: 1.7px solid rgba(0, 0, 0, 0.2);
}

.wrap:first-child {
  display: flex;
  justify-content: space-between;
}

.join__write-short {
}

.wrap__wrap:last-child {
  display: flex;
  flex-direction: column;
}

.wrap:last-child {
  display: flex;
  flex-direction: column;
}
