form {
  position: absolute;
  top: 280px;
}

.join__img {
  border: 1.7px solid rgba(0, 0, 0, 0.2);
}

.wrap:first-child {
  display: flex;
  justify-content: space-between;
}

.wrap:last-child {
  display: flex;
  flex-direction: column;
}
.wrap__wrap:first-child {
  display: flex;
  align-items: center;
}
.wrap__wrap:last-child {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 600px) {
  .join {
    width: 460px;
  }
  .join__img {
    width: 200px;
    height: 200px;
  }
  .join__write-short {
    width: 200px;
  }
}
@media screen and (max-width: 600px) {
  .join {
    width: 80%;
  }
  .join__img {
    width: 85%;
    height: 78%;
  }
}
