.study {
    position: relative;
    padding: 160px 0px 125px 0px;
    width: 100%;
}

.study__inner {
    margin-left: 400px;
}

.study__title {
    position: relative;
    z-index: 2;
    font-size: 40px;
    font-weight: 300;
    color: #282828;
    line-height: 48px;
    letter-spacing: -2px;
}