@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300&display=swap");
.study-card {
    display: flex;
    margin: 20px auto;
    border: 1px solid gray;
    padding: 60px 20px 60px 20px;
    border-radius: 15px;
    letter-spacing: 0.5px;
    font-family: "Noto Sans KR", sans-serif;
}

.study-card__info {
    padding-left: 30px;
}

.study-card__info h2 {
    font-size: 20px;
    font-weight: bold;
}

.study-card__info p {
    opacity: 0.7;
    line-height: 20px;
}

.study-card__btn {
    display: flex;
    justify-content: center;
    padding: 10px 0px 0px 0px;
}

.study-card__curiculm {
    padding-top: 30px;
}