.dropdown {
    position: relative;
    z-index: 1;
    margin-bottom: 8px;
    padding-top: 40px;
}

.dropdown-toggle {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    line-height: 50px;
    color: #282828;
    text-align: left;
    border: 1px solid #282828;
    border-radius: 6px;
    transition: border-color 100ms ease-in;
    background-color: #f1efe9;
}

.dropdown-toggle.selected {
    color: #3f4150;
}

.dropdown-toggle:active {}

.dropdown-menu {
    position: absolute;
    z-index: 2;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    max-height: 0;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: 6px;
    transition: border-color 200ms ease-in, padding 200ms ease-in, max-height 200ms ease-in, box-shadow 200ms ease-in;
    background-color: #f1efe9;
}

.dropdown-menu.show {
    padding: 8px 0;
    max-height: 280px;
    box-shadow: 0 4px 9px 0 #282828;
}

.dropdown__item {
    border: 0;
    outline: 0;
}

.dropdown-option {
    width: 100%;
    height: 44px;
    padding: 0 16px;
    text-align: left;
    background-color: #f1efe9;
}

.dropdown-option:hover {
    background-color: #282828;
    color: white;
}

.dropdown__icon {
    display: flex;
    justify-content: flex-end;
}

button {
    border: none;
}

.dropdown__next-button {
    display: block;
    width: 100%;
    height: 44px;
    padding: 0 16px;
    line-height: 44px;
    color: #f8f9fa;
    background-color: #1b1c32;
    border-radius: 6px;
    transition: background-color 150ms ease-in;
}